@model List<BookApp.Models.Book.BookViewModel>

@{
    ViewData["Title"] = "Book List";
    int count = 1;
}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Book</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@count</td>
                    <td scope="row">@item.UserName</td>
                    <td scope="row">@item.BookText</td>
                    <td scope="row">
                        @*<a asp-controller="Book" asp-action="GetBookDetail" asp-route-id="@item.Id" class="btn btn-info text-white">ViewBook</a>*@
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}